<form method="POST" action="/recipes/<%=@recipe.id%>">
    <input type="hidden" id="hidden" name="_method" value="patch" />
    <input type="text" id="name" name="name" value="<%=@recipe.name%>" />
    <input type="text" id="ingeredients" name="ingredients" value="<%=@recipe.ingredients%>" />
    <input type="text" id="cook_time" name="cook_time" value="<%=@recipe.cook_time%>" />
    <input type="submit" id="submit" name="edit" value="EDIT">
</form>