<form action="/recipes" method="post">
<input id="name "type="text" name="name">
<input id="ingredients" type="text" name="ingredients">
<input id="cook_time" type="text" name="cook_time">
<input type="submit" />
</form>
